transformers
pydub
numpy
torch
torchaudio
torchvision
librosa
soundfile
moviepy
datasets
scikit-learn
pandas
scipy
tensorflow
opencv-python
keras
keras_vggface
keras_applications
batch_face
seaborn
speechbrain